name: Library Cache Builder

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  libraries:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: 'Windows'
            os: windows-latest
            build_shared_libs: 'ON'
          - name: 'WASM'
            os: macos-latest
            emcmake: 'emcmake'
            build_shared_libs: 'OFF'
    env:
      BUILDCACHE_ACCURACY: STRICT
      BUILDCACHE_COMPRESS_FORMAT: ZSTD
      BUILDCACHE_DEBUG: -1
      BUILDCACHE_LOG_FILE: ""
      LIBXML2_VERSION: 2.9.10
      ZLIB_VERSION: 1.2.12
    steps:
      - name: Install CMake and Ninja
        uses: lukka/get-cmake@latest
      - name: Install buildcache
        uses: opencor/buildcache-action@v1
        with:
          cache_key: ${{ matrix.name }}
      - name: Configure MSVC (Windows)
        if: ${{ runner.os == 'Windows' }}
        uses: ilammy/msvc-dev-cmd@v1
      - name: Install Emscripten (macOS)
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew install --overwrite emscripten
      - name: Build zlib
        run: |
          git clone -b v${{ env.ZLIB_VERSION }} --depth 1 https://github.com/cmlibs-dependencies/zlib.git
          cd zlib
          ${{ matrix.emcmake }} cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=zlib -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }}
          cmake --build build
          cmake --install build
          tar -czf ../zlib-${{ matrix.name }}.tar.gz zlib
      - name: Build libxml2
        run: |
          git clone -b v${{ env.LIBXML2_VERSION }} --depth 1 https://github.com/cmlibs-dependencies/libxml2.git
          cd libxml2
          ${{ matrix.emcmake }} cmake -G Ninja -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=libxml2 -DZLIB_DIR=${{ github.workspace }}/zlib/zlib/lib/cmake/ZLIB-${{ env.ZLIB_VERSION }} -DBUILD_SHARED_LIBS=${{ matrix.build_shared_libs }} -DLIBXML2_WITH_DEBUG=OFF -DLIBXML2_WITH_ICONV=OFF -DLIBXML2_WITH_LEGACY=OFF -DLIBXML2_WITH_LZMA=OFF -DLIBXML2_WITH_MODULES=OFF -DLIBXML2_WITH_PROGRAMS=OFF -DLIBXML2_WITH_PYTHON=OFF -DLIBXML2_WITH_TESTS=OFF
          cmake --build build
          cmake --install build
          tar -czf ../libxml2-${{ matrix.name }}.tar.gz libxml2
      - name: Release libxml2 and zlib
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ github.workspace }}/*.tar.gz
          tag_name: gha
